<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Eleitor</title>
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
  </head>

  <body>
  	<img id="logo" src="img/logo.png" class="img-fluid center" alt="logotipo">
  	<nav class="navbar navbar-expand-sm navbar-dark bg-dark" role="navigation">
	  	<div class="container-fluid">
	  		<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target=".collapse">
			  	<span class="navbar-toggler-icon"></span>
	  		</button>

		  	<div class="collapse navbar-collapse" id="itens">
			  	<ul class="navbar-nav">
			  		<li class="nav-item">	<a href="../index.php" class="nav-link">Inicio</a> </li>
		  			<li class="nav-item">	<a href="../resultado.php" class="nav-link">Resultados</a> </li>
				  	<li class="nav-item">	<a href="../candidato.php " class="nav-link">Candidatos</a> </li>
				  	<li class="nav-item">	<a href="../eleitor.php" class="nav-link">Eleitor</a> </li>
			  	</ul>
		  	</div>
		  </div>
	  </nav>

  	<div class="container">
	  	<div class="row">
	  		<div class="col-12 col-md-12">
		  		<div class="jumbotron">
				  	<h2>Alterar Eleitor</h2>
				  	<p>Aviso: o campo CPF não ira alterae o seu cpf. Será usado apenas como meio de verificação.</p>
			  		<hr class="my-4">

				  	<form action="../database/alterar-eleitor.php" method="POST">
					  	<div class="form-group">
				  			<label>Cpf</label>
				  			<input type="number" class="form-control" placeholder="111111111" name="cpfAlter">
		  				</div>
					  	<div class="form-group">
					  		<label>Nome</label>
					  		<input type="text" class="form-control" placeholder="Larinha" name="nomeAlter">
					  	</div>

					  	<div class="form-group">
					  		<label>Idade</label>
				  			<input type="number" class="form-control" placeholder="15" name="idadeAlter">
	  					</div>

				  		<div class="form-group">
					  		<label>Titulo</label>
				  			<input type="number" class="form-control" placeholder="11122" name="tituloAlter">
					  	</div>

					  	<button type="submit" class="btn btn-success">Alterar</button>
		  			</form>
			  	</div>
		  	</div>
  		</div>
  	</div>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
